body {
    background: url("https://www.carscoops.com/wp-content/uploads/2020/07/2021-Ford-Bronco-Sport.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(255,255,255,0.7);
    z-index: -1;
}

.box {
    max-width: 700px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

h1 {
    margin-bottom: 10px;
    color: #222;
}

p {
    font-size: 18px;
    color: #444;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 18px;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}
