*{
    margin: 0;
    padding: 0;
}
img{
    position: absolute;
    top: 10px;
    right: 10px;
}
marquee{
  font-weight: 900;
  font-size: 33px;
    color: rgb(144, 65, 202);
}
.box1{
    padding: 70px 0px 10px 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: large;
    color: rgb(173, 195, 27);
}
.box2{
    padding: 70px 0px 10px 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-size: large;
    color: rgb(65, 144, 184);
}
.box3{
        padding: 70px 0px 10px 50px;
        font-style: initial;
        color: rgb(34, 193, 137);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: large;
}