
body {
    background: url("https://www.carscoops.com/wp-content/uploads/2020/07/2021-Ford-Bronco-Sport.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
    z-index: -1;
}


.container {
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding: 30px;
}


h1 {
    font-size: 35px;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.subtitle {
    font-size: 16px;
    color: #444;
    margin-bottom: 20px;
}


.info p {
    margin: 5px 0;
    font-size: 18px;
    color: #333;
}


.main-img {
    margin-top: 20px;
    width: 700px;
    border-radius: 10px;
    border: 3px solid #333;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

hr {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background: #333;
}
